[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "yggdrasil-go"]
	path = yggdrasil-go
	url = https://github.com/RevoluPowered/yggdrasil-go.git
	branch = gordon/add-library-support
